Functions in Class:
-------------------

# 1. Class Method in Python
---------------------------

In [6]:
companyName = 'xyz'

class employee:
    name = 'Sara'
    age = 25

    def employeeDetails():
        print(employee.name, ' your age is ', employee.age)

        print('Company Name : ', companyName)

In [7]:
employee.employeeDetails()

Sara  your age is  25
Company Name :  xyz

# 2. Object method in Python
----------------------------

Using Self Parameter

In [22]:
companyName = 'xyz'

class employee:
    name = 'Sara'
    age = 25

    def employeeDetails(self):
        print(self.name, ' your age is ', self.age)

        print('Company Name : ', companyName)

In [23]:
employeeObject = employee()

In [24]:
print(employee.name, ' your age is ', employee.age)

Sara  your age is  25

In [25]:
print(employeeObject.name, ' your age is ', employeeObject.age)

Sara  your age is  25

In [26]:
employeeObject.employeeDetails()

Sara  your age is  25
Company Name :  xyz

In [27]:
employeeObject.name = 'Developer'

employeeObject.age = 30

In [28]:
employeeObject.employeeDetails()

Developer  your age is  30
Company Name :  xyz

In [29]:
employeeObject2 = employee()

In [30]:
employeeObject2.name = 'Thara'

employeeObject2.age = 28

In [31]:
employeeObject2.employeeDetails()

Thara  your age is  28
Company Name :  xyz

# 3. __init__ Method :
----------------------

In [35]:
class employee:
    def __init__(self):
        print('__init__ method - Constructer method for Value initialization')

In [36]:
object01 = employee()

__init__ method - Constructer method for Value initialization

Example 01
----------

In [37]:
companyName = 'xyz'

class employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def employeeDetails(self):
        print(self.name, ' your age is ', self.age)

        print('Company Name : ', companyName)

In [38]:
employeeObject01 = employee('Sri', 25)

In [39]:
employeeObject01.employeeDetails()

Sri  your age is  25
Company Name :  xyz