Inheritance:
------------

1. Single Inheritance
2. Multiple Inhersitance
3. Multilevel Inheritance
4. Diomand Problem

# 1. Single Inheritance
-----------------------

In [7]:
class Company:
    companyName = 'xyz'
    website = 'xyz.in'

class Employee(Company):
    employeeName = 'Sara'
    age = 26

In [8]:
empObject_01 = Employee()

In [10]:
print(empObject_01.employeeName, ' age is ', empObject_01.age)

print('----------------------------------------------------------------------------')

print(empObject_01.companyName, ' - ', empObject_01.website)

Sara  age is  26
----------------------------------------------------------------------------
xyz  -  xyz.in

# 2. Multiple Inhersitance
--------------------------

In [13]:
class Company:
    companyName = 'xyz'
    website = 'xyz.in'
    
class Department:
    departmentName = 'Techbical Team'
    
class Employee(Company, Department):
    employeeName = 'Sara'
    age = 26

In [14]:
empObject_01 = Employee()

In [15]:
print(empObject_01.employeeName, ' age is ', empObject_01.age)

print('----------------------------------------------------------------------------')

print(empObject_01.companyName, ' - ', empObject_01.website)

print('----------------------------------------------------------------------------')

print(empObject_01.departmentName)

Sara  age is  26
----------------------------------------------------------------------------
xyz  -  xyz.in
----------------------------------------------------------------------------
Techbical Team