Python Basics
-------------

Data Types & Variable
---------------------

In [5]:
# Variables

a = 10

b = 10.5

c = 'admin@gmail.com'

d = True

# Data Types
'''
int - 0 to 9
float - 10.5,,,,,,(Decimal values or . values)
string(str) - a to z, A to Z, Special Characters(!,@,#,$,%,^,&,*)
boolean(bool) - True, False
'''

print(a, type(a))

print(b, type(b))

print(c, type(c))

print(d, type(d))

10 <class 'int'>
10.5 <class 'float'>
admin@gmail.com <class 'str'>
True <class 'bool'>

In [10]:
# Single Line Comment

'''
Multi 
Line
Comment
'''

a = 'Proofreading service and writing assistant. Get professional proofreading service online. We Provide High-Quality Academic English Editing & Proofreading Services. Subscribe For Updates. High-Quality Services.'

print(a)

print('')

a = '''Proofreading service and writing assistant. Get professional proofreading service online.
We Provide High-Quality Academic English Editing & Proofreading Services. Subscribe For Updates.
High-Quality Services.'''

print(a)

Proofreading service and writing assistant. Get professional proofreading service online. We Provide High-Quality Academic English Editing & Proofreading Services. Subscribe For Updates. High-Quality Services.

Proofreading service and writing assistant. Get professional proofreading service online.
We Provide High-Quality Academic English Editing & Proofreading Services. Subscribe For Updates.
High-Quality Services.

If & Else
---------

Using Python Input

In [17]:
age = int(input('Enter your age : '))

print(age >= 18)

print('')

if age >= 18:
    print(age, 'Eligible for vote')

else:
    print(age, 'Not Eligible for vote')

Enter your age :  12

False

12 Not Eligible for vote

Elif & Nested If & Logical Operators
------------------------------------

In [25]:
mark1 = int(input('Enter mark1 : '))
mark2 = int(input('Enter mark2 : '))
mark3 = int(input('Enter mark3 : '))

total = mark1 + mark2 + mark3

average = total / 3

print(mark1 >= 35 and mark2 >= 35 and mark3 >= 35)

print('')

if mark1 >= 35 and mark2 >= 35 and mark3 >= 35:
    print('Pass')

    print('Total', total)

    print('Average', average)

    if average >= 90 and average <= 100:
        print('Average', average, 'Grade A+')

    elif average >= 80 and average <= 90:
        print('Average', average, 'Grade B+')

    elif average >= 70 and average <= 80:
        print('Average', average, 'Grade C+')

    else:
        print('Average', average, 'Grade D')

else:
    print('Fail')

Enter mark1 :  70
Enter mark2 :  80
Enter mark3 :  80

True

Pass
Total 230
Average 76.66666666666667
Average 76.66666666666667 Grade C+

While Loop
----------

In [26]:
i = 0

n = 10

while i <= n:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

In [27]:
# To Find Even Numbers

i = 0

n = 10

while i <= n:
    print(i)
    i = i + 2

0
2
4
6
8
10

In [28]:
# To Find Even Numbers

i = 1

n = 10

while i <= n:
    print(i)
    i = i + 2

1
3
5
7
9

In [30]:
# Table

i = 1

n = 10

table = 2

while i <= n:
    result = i * table
    print(i, ' * ', table, ' = ', result) # 1 * 2 = 2
    i = i + 1

1  *  2  =  2
2  *  2  =  4
3  *  2  =  6
4  *  2  =  8
5  *  2  =  10
6  *  2  =  12
7  *  2  =  14
8  *  2  =  16
9  *  2  =  18
10  *  2  =  20

For Loop
--------

In [31]:
'''
1. Default value Intial is 0
2. Default value Increment 1
'''

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
# To Find Even Number

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [33]:
# To Find Odd Number

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [35]:
for i in range(3):
    age = int(input('Enter your age : '))

    print(age >= 18)
    
    print('')
    
    if age >= 18:
        print(age, 'Eligible for vote')
    
    else:
        print(age, 'Not Eligible for vote')

    print('------------------------------')
    print('')

Enter your age :  30

True

30 Eligible for vote
------------------------------

Enter your age :  10

False

10 Not Eligible for vote
------------------------------

Enter your age :  40

True

40 Eligible for vote
------------------------------