Set Copy:
---------

In [6]:
set1 = {'admin', 25}

set2 = set1

print('set1 : ', set1, type(set1))

print('set2 : ', set2, type(set2))

#  add

set2.add(9500912258)

print('After using add :')

print('set1 : ', set1, type(set1))

print('set2 : ', set2, type(set2))

set1 :  {25, 'admin'} <class 'set'>
set2 :  {25, 'admin'} <class 'set'>
After using add :
set1 :  {25, 'admin', 9500912258} <class 'set'>
set2 :  {25, 'admin', 9500912258} <class 'set'>

In [7]:
set1 = {'admin', 25}

set2 = set1.copy()

print('set1 : ', set1, type(set1))

print('set2 : ', set2, type(set2))


#  add value

set2.add(9500912258)

print('After using add :')

print('set1 : ', set1, type(set1))

print('set2 : ', set2, type(set2))

set1 :  {25, 'admin'} <class 'set'>
set2 :  {25, 'admin'} <class 'set'>
After using add :
set1 :  {25, 'admin'} <class 'set'>
set2 :  {25, 'admin', 9500912258} <class 'set'>

Add two set variables :
-----------------------

In [9]:
set1 = {'admin', 25}

set2 = {9500912258, 'admin@gmail.com'}

print('set1 : ', set1, type(set1))

print('set2 : ', set2, type(set2))

set1.update(set2)

print('After add two Variables :')

print('set1 : ', set1, type(set1))

set1 :  {25, 'admin'} <class 'set'>
set2 :  {9500912258, 'admin@gmail.com'} <class 'set'>
After add two Variables :
set1 :  {25, 'admin', 'admin@gmail.com', 9500912258} <class 'set'>

Remove and Discard values
-------------------------

In [15]:
studentDetails = {25, 'admin', 'admin@gmail.com', 9500912258}

print(studentDetails)

studentDetails.remove(9500912258)

print(studentDetails)

studentDetails.discard('admin@gmail.com')

print(studentDetails)

# Difference between remove & discard

studentDetails.discard('TN')

print(studentDetails)

studentDetails.remove('TN') # KeyError: 'TN'

print(studentDetails)

{25, 'admin', 'admin@gmail.com', 9500912258}
{25, 'admin', 'admin@gmail.com'}
{25, 'admin'}
{25, 'admin'}

KeyError: 'TN'

Set Operators
-------------

In [24]:
set1 = {1,2,3,4,5,6,3,2,1}

set2 = {7,8,9,7,8,6,4,5}

print('set1 : ', set1, type(set1))

print('set2 : ', set2, type(set2))

# Union

result1 = set1.union(set2)

print('Union : ', result1)

# Intersection

result2 = set1.intersection(set2)

print('Intersection : ', result2)

# Symmetric Difference

result3 = set1.symmetric_difference(set2)

print('Symmetric Difference : ', result3)

set1 :  {1, 2, 3, 4, 5, 6} <class 'set'>
set2 :  {4, 5, 6, 7, 8, 9} <class 'set'>
Union :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection :  {4, 5, 6}
Symmetric Difference :  {1, 2, 3, 7, 8, 9}