Arbitrary Argument Function :
-----------------------------

In [11]:
def ageValues(*age):
    print(age, type(age))

    print('-------------------------')

    for i in age:
        print(i)

In [12]:
ageValues(20, 25, 19, 39, 30)

(20, 25, 19, 39, 30) <class 'tuple'>
-------------------------
20
25
19
39
30

In [13]:
'''
ToDay Task

--Call the function
ageValues(20, 25, 19, 39, 30, 16)

To write the python function for below output using Arbitrary argument function

20 is 18+

25 is 18+

19 is 18+

39 is 18+

30 is 18+

16 is 18-

'''

'\nToDay Task\n\nageValues(20, 25, 19, 39, 30)\n\n'

Key Word Argument Function:
---------------------------

In [15]:
def details(name, age):
    print(name, 'your age is', age)

In [18]:
details(age = 25, name ='admin')

admin your age is 25

Key word Arbitrary Argument Function
------------------------------------

In [26]:
def details(**detail):
    print(detail, type(detail))

In [27]:
details(age = 25, name ='admin', mobile = 9500912258)

{'age': 25, 'name': 'admin', 'mobile': 9500912258} <class 'dict'>

Default Parameter Function:
---------------------------

In [7]:
def details(name, age, state = 'TN'):
    print(name, 'your age is', age, ' - ', state)

In [9]:
details('admin', 25, 'TamilNadu')

print('----------------------------------------------------------------')

details('Sara', 22, 'Kerala')

print('----------------------------------------------------------------')

details('Sara Dev', 18)

admin your age is 25  -  TamilNadu
----------------------------------------------------------------
Sara your age is 22  -  Kerala
----------------------------------------------------------------
Sara Dev your age is 18  -  TN

Pass the List Values in Function Argument :
-------------------------------------------

In [13]:
def ageValues(age):
    print(age, type(age))

    print('-------------------------')

    for i in age:
        print(i)

In [14]:
ageValues([20, 25, 19, 39, 30])

[20, 25, 19, 39, 30] <class 'list'>
-------------------------
20
25
19
39
30

In [15]:
def markValues(markList):
    print(sum(markList))

In [17]:
markValues([90, 70, 80, 50, 80])

markValues([50, 78, 85, 50, 82])

370
345

Lambda Function
---------------

In [22]:
BOY = lambda dob: 2025 - dob

print('your age is', BOY(1999))

print('-----------------------------------------------------------')

print('your age is', BOY(2000))

your age is 26
-----------------------------------------------------------
your age is 25

In [24]:
sum = lambda a, b, c: a + b + c

print(sum(20, 10, 30))

60