Dictionary :
------------

        1. Dictionary is a collection of Data type
        2. Its used for store multiple values and diffrent data type values but not like index in a single variable.
        3. Dictionary are Declare ' {key: value} '
        4. Dictionary is used for remove Duplicate Records

In [2]:
user = {'name': 'Admin', 'age': 25}

print(user, type(user))

{'name': 'Admin', 'age': 25} <class 'dict'>

To get a single value
---------------------

In [5]:
print(user['name'])

print(user.get('age'))

Admin
25

In [7]:
# Difference Detween two types
print(user)

print(user.get('state', 'Tamil Nadu')) # Declare Default values for undefined keys

print(user['state']) # KeyError: 'state'

{'name': 'Admin', 'age': 25}
Tamil Nadu

KeyError: 'state'

In [13]:
# Get Key , Values, items

print(user.keys())

print(user.values())

print(user.items())

items = user.items()

print(items, type(items))

dict_keys(['name', 'age'])
dict_values(['Admin', 25])
dict_items([('name', 'Admin'), ('age', 25)])
dict_values(['Admin', 25]) <class 'dict_values'>

For loop in Dictionary
----------------------

In [16]:
print(user)

print('-----------------')
print('')

for i in user:
    print(i, ' - ', user[i])

{'name': 'Admin', 'age': 25}
-----------------

name  -  Admin
age  -  25

Dictionary Values change
------------------------

In [19]:
user = {'name': 'Admin', 'age': 25}

print(user)

print('-----------------')
print('')

user['name'] = 'Sara'

print(user)

{'name': 'Admin', 'age': 25}
-----------------

{'name': 'Sara', 'age': 25}

Values Add in dictionary
------------------------

In [27]:
user = {'name': 'Admin', 'age': 25}

print(user)

print('-----------------')
print('')

userDetails = {'mobile': 9500912258, 'state': 'TN'}

user.update(userDetails)

print(user)

{'name': 'Admin', 'age': 25}
-----------------

{'name': 'Admin', 'age': 25, 'mobile': 9500912258, 'state': 'TN'}

Remove Dictionary Values
------------------------

In [1]:
user = {'name': 'Admin', 'age': 25}

print(user)

{'name': 'Admin', 'age': 25}

In [29]:
user.pop('age')

print(user)

{'name': 'Admin'}

Declare Multiple Users in Dictionary
------------------------------------

In [2]:
users = {
    "user1": {'name': 'Admin', 'age': 25},
    "user2": {'name': 'Sara', 'age': 23}
}

print(users)

{'user1': {'name': 'Admin', 'age': 25}, 'user2': {'name': 'Sara', 'age': 23}}

In [5]:
# To Find Single User

print('User1 : ', users['user1'])

User1 :  {'name': 'Admin', 'age': 25}

In [7]:
# To Find Single User Name

print('User1 Name : ', users['user1']['name'])

print('User2 Name : ', users['user2']['name'])

User1 Name :  Admin
User2 Name :  Sara

In [ ]:

'''
ToDay Task
----------

To Write the Python code for

User1 Name :  Admin - 25
User2 Name :  Sara - 23

these output using for loop

'''