List Functions:
---------------

In [2]:
a = [10,30,15,20,40,35,50,45,50]

print(a, type(a))

[10, 30, 15, 20, 40, 35, 50, 45, 50] <class 'list'>

In [20]:
print('Minimum values of a variable : ', min(a))

print('Maximum values of a variable : ', max(a))

print('Sum values of a variable : ', sum(a))

print('Length values of a variable : ', len(a))

print('Count (50) values of a variable : ', a.count(50))

print('Find Index Position of variable values : ', a.index(40))

Minimum values of a variable :  10
Maximum values of a variable :  50
Sum values of a variable :  195
Length values of a variable :  6
Count (50) values of a variable :  1
Find variable values :  2

Delete Values:
--------------

In [18]:
a = [10,30,15,20,40,35,50,45,50]

print(a)

a.pop()

print(a)

a.pop(1)

print('Delete values by Index Position :', a)

a.remove(20)

print('Delete values by variable value :', a)

[10, 30, 15, 20, 40, 35, 50, 45, 50]
[10, 30, 15, 20, 40, 35, 50, 45]
Delete values by Index Position : [10, 15, 20, 40, 35, 50, 45]
Delete values by variable value : [10, 15, 40, 35, 50, 45]

Insert Values:
--------------

In [27]:
a = [10, 'admin', 25]

print(a, type(a))

print(a[1])

a[1] = 'Sara' # Assign value by index position 

print(a)

a.append(9500912258) # Add values

print(a)

b = ['sara@gmail.com', 'Chemistry']

print(b, type(b))

a.extend(b) # add two list variable in a single variable

print(a)

a.insert(2, 'admin') # add values in a seperate index position

print(a)

[10, 'admin', 25] <class 'list'>
admin
[10, 'Sara', 25]
[10, 'Sara', 25, 9500912258]
['sara@gmail.com', 'Chemistry'] <class 'list'>
[10, 'Sara', 25, 9500912258, 'sara@gmail.com', 'Chemistry']
[10, 'Sara', 'admin', 25, 9500912258, 'sara@gmail.com', 'Chemistry']

Sorting:
-------

In [31]:
age = [12,50,20,25,32,40,10,24]

print(age)

age.sort() # Order by minimum to maximum

print(age)

age.sort(reverse=True) # order by maximum to minimum

print(age)

[12, 50, 20, 25, 32, 40, 10, 24]
[10, 12, 20, 24, 25, 32, 40, 50]
[50, 40, 32, 25, 24, 20, 12, 10]

In [39]:
name = ['aa', 'cccc', 'bbbbbb', 'd', 'eee']

print(name)

name.sort()

print(name)

name.sort(reverse=True)

print(name)

name.sort(key=len) # Order by length values

print(name)

name.sort(key=len, reverse=True) # Order by length values Reverse

print(name)

['aa', 'cccc', 'bbbbbb', 'd', 'eee']
['aa', 'bbbbbb', 'cccc', 'd', 'eee']
['eee', 'd', 'cccc', 'bbbbbb', 'aa']
['d', 'aa', 'eee', 'cccc', 'bbbbbb']
['bbbbbb', 'cccc', 'eee', 'aa', 'd']

In [ ]:
'''
ToDay Task
----------

age = [10,20,40,30,20,50,60,45,25,25,30,20]

1. To delete a Duplicate age values
2. To find a Duplicate values
3. To find a Duplicate values Index Position
'''

In [40]:
a = [10, 'admin', 25, 'sara@gmail.com', 'Chemistry']

print(a)

[10, 'admin', 25, 'sara@gmail.com', 'Chemistry']

In [41]:
for i in a:
    print(i)

10
admin
25
sara@gmail.com
Chemistry

In [43]:
if 'admin' in a:
    print('yes')
else:
    print('no')

no